<nav class="navbar">
    <ul class="navbar-nav">
        <li><a href="/timeline"><img src="musify logo.png" alt="Home" style="width: 70px; height: auto;"></a></li>
        <li><a href="/timeline">Timeline</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    <a href="/" class="logout-button">
        <img src="logout.png" alt="Logout" style="width: 30px; height: auto;">
    </a>
    <a href="/profile" class="profile-button" style="background-image: url('<%= profilePicture %>')"></a>
  </nav>